<html>

<head>

</head>
<body>
<h1>Thank you <%= @orderdetails.customername %></h1>
<div class="alert alert-info">
	<h3>Your Order Details are</h3>
	<table class="table ordersummary"><tr class="tableheader"><th>Item</th><th>Quantity</th><th class="price">Price</th><th>Instructions</th></tr>
	<% @orderitems.each do |o| %>
		<tr>
			<td><%= o.itemname %></td>
			<td><%= o.quantity %></td>
			<td class="price">Rs. <%= o.itemprice %></td>
			<td><%= o.specialinstruction %></td>
			
		</tr>
		<%end%>
	</table>
<table class="table ordersummary ordertotal">
	<tr><td>Total amount </td><td class="price"> <strong>Rs. <%= @orderdetails.total %></strong></td></tr>
	</table>
	</div>

	</body>
	</html>
