<p id="notice"><%= notice %></p>

<p>
  <b>Tkurl:</b>
  <%= @punescrapurl.tkurl %>
</p>

<p>
  <b>Zurl:</b>
  <%= @punescrapurl.zurl %>
</p>

<p>
  <b>Status:</b>
  <%= @punescrapurl.status %>
</p>


<%= link_to 'Edit', edit_punescrapurl_path(@punescrapurl) %> |
<%= link_to 'Back', punescrapurls_path %>
