<section class="order">
<h1>Thank you <%= @orderdetails.customername %></h1><p> for orderering from <%= @restaurantdetails.restname %> </p>
<div class="alert alert-info">
	<h3>Your Order Details are</h3>
	<table class="table ordersummary"><tr class="tableheader"><th>Item</th><th>Quantity</th><th class="price">Price</th><th>Instructions</th></tr>
	<% @orderitems.each do |o| %>
		<tr>
			<td><%= o.itemname %></td>
			<td><%= o.quantity %></td>
			<td class="price">Rs. <%= o.itemprice %></td>
			<td><%= o.specialinstruction %></td>
		</tr>
		<%end%>
	</table>
<table class="table ordersummary ordertotal">
	<tr><td>Total amount </td><td class="price"> <strong>Rs. <%= @orderdetails.total %></strong></td></tr>
	</table>
	</div>
	<div class="alert alert-warning">
		<div>
			<ul class="nav nav-tabs">
			  <li <% if !params["mode"] %> class="active" <% end %>><a href="/pages/userorderdetails">
		Cash on Delivery
		
			  </a></li>
			  <li <% if params["mode"] %> class="active" <% end %>><a href="?mode=op">Online Payment</a></li>
			</ul>
			<div>
				<h4> <% if params["mode"] %>
					<%= "You have chosen online payment please enter your details below." %>
					<% else %>
					
					<%= "You have chosen cod please pay the delivery guy." %>
					<% end %>
					
					</h4>
			</div>
			</div>
	
		<h3><%= @restaurantdetails.restname %> takes <%= @restaurantdetails.restdeltime %> to deliver your food to you.</h3><p>Please feel free to surf our site till then. <%= link_to "Go back", root_path, :class=>"alert-link" %></p></div>
		
	</section>
