<p id="notice"><%= notice %></p>

<p>
  <b>Tkurl:</b>
  <%= @mumscrapurl.tkurl %>
</p>

<p>
  <b>Zurl:</b>
  <%= @mumscrapurl.zurl %>
</p>

<p>
  <b>Status:</b>
  <%= @mumscrapurl.status %>
</p>


<%= link_to 'Edit', edit_mumscrapurl_path(@mumscrapurl) %> |
<%= link_to 'Back', mumscrapurls_path %>
