<%= form_for @restaurant, :html => { :multipart => true } do |f| -%>
<div class="field">
	<%= f.label :restusername, "Restaurant username" %>
	<%= f.text_field :restusername %>
</div>  

<div class="field">
	<%= f.label :restname, "Restaurant Full name" %>
	<%= f.text_field :restname %>
</div>  

<div class="field">
	<%= f.label :raddress, "Address Line 1" %>
	<%= f.text_field :raddress %>
</div>


<div class="field">
	<%= f.label :restphone, "Phonenumber" %>
	<%= f.text_field :restphone %>
</div>
<div class="field">
	<%= f.label :restemail, "Restaurant Email" %>
	<%= f.text_field :restemail %>
</div>
<div class="field">
	<%= f.label :city, "Restaurant City" %>
	<%= f.text_field :city %>
</div>

<div class="field">
		<%= f.label :delivers, "Does the restaurant home deliver?" %>
<%= f.select :delivers, [['Yes','true'],['No','false']]%>
</div>

<div class="field">
	<%= f.label :rcost , "Cost for 2 people" %>
	<%= f.text_field :rcost %> 
</div>


<div class="field">
	<%= f.label :rdelradius , "Delivery Radius" %>
	<%= f.text_field :rdelradius %> 
</div>

<div class="field">
	<%= f.label :rtimings, "Timings" %>
	<%= f.text_field :rtimings %>
</div>

<div class="field">
	<%= f.label :restdeltime, "Minimum delivery time" %>
	<%= f.text_field :restdeltime %>
</div>

<div class="field">
	<%= f.label :restdelmin, "Minimum delivery order" %>
	<%= f.text_field :restdelmin %>
</div>	

<div class="field">
	<%= f.label :rarea, "Area of the restaurant" %>
	<%= f.text_field :rarea %>
</div>
<div class="field">
		<%= f.label :restabout, "More about the restaurant" %>
		<%=  f.text_area :restabout %>
	</div>
	<div class="field">
			<%= f.label :deliveryarea, "List of areas the restaurantdelivers" %>
			<%=  f.text_area :deliveryarea %>
		</div>
		<div class="existingPaperclipFiles">

		     <% f.fields_for :assets do |asset| %>

		          <% unless asset.object.new_record? %>

		                <div class="thumbnail">
		                        <%= link_to( image_tag(asset.object.image.url(:thumb)), asset.object.image.url(:original) ) %>
		                </div>

		          <% end %>        

		     <% end %>
		</div>


<div class="field">
<%= f.submit "Update", :disable_with => 'Updating...' %>
</div>
<% end -%>

