<% if !@review.blank?
	@numreview = @review.count.to_f
	@reviewtotal = 0
		@review.each do |r|
	 	@reviewtotal += r.score
end 

@reviewscore = @reviewtotal/@numreview
end 
%>
	<div id="MyDialog" class="hide" title="Customize Order">
	 <form id="d-form">
		<p class="itemdesc"></p>
	    <fieldset>
	        <label for="quantity">Quantity</label>
	        <input type="text" name="quantity" id="quantity" class="required" />
	        <label for="adjustments">Special Instructions</label>
	        <textarea name="adjustments" id="adjustments" class="text ui-widget-content ui-corner-all required"></textarea>
	    </fieldset>
	    </form>

	</div>








<section id="hero">
<div class="container">
<div class="jumbotron">
	<div class="left">
		<h1>
<%= @restaurant.restname %> <img src="/assets/veg.png" title="serves veg" alt"vegetarian" /><% if !@restaurant.onlyveg %> <img src="/assets/nonveg.png" title="serves  non veg" alt"non-vegetarian" /><% end %>
	</h1>
	<p class="badge"><span class="glyphicon icon-barcode"></span> <strong>Approx cost:</strong> <%= @restaurant.rcost %> Rs</p>
	<% if @restaurant.delivers %>	<p class="badge"><span class="glyphicon icon-info-sign"></span> <strong>Minimum Order:</strong> <%= @restaurant.restdelmin %> Rs</p>
		<p class="badge"><span class="glyphicon icon-road"></span> <strong>Delivery time:</strong> <%= @restaurant.restdeltime %></p> <% end %>
		<p class="badge"><span class="glyphicon icon-time"></span> <strong>Timings:</strong> <%= "#{@restaurant.rtimings}"  %> </p></div>
		<div class="right">
			<p class="reviewscore"><%= "#{@reviewscore}" unless @reviewscore.nil? %> <%= "No" if @reviewscore.nil? %>  <br /><span class="small">review score</span></p>
			<p class="badge"><span class="glyphicon icon-heart"></span></p>
			<p class="badge"><span class="glyphicon icon-ok-sign"></span></p>
		<p class="badge"><span class="glyphicon icon-comment"></span></p>
		</div>
			
	<p>
	<% if admin_signed_in? %>
	<%= link_to "Add new menu item",  new_menuitem_path, :class =>"btn btn-primary btn-large" %>
	<%end%>
	</p>
</div>
<div>
</section>	
	
<section id="content">
<div class="navbar navbar top-bar">
	<div class="navbar-inner">
		<ul class="nav nav-pills nav-justified" id ="myTab">
		    <li class="active"><a data-toggle="tab" href="#menu">Menu</a></li>
		    <li><a data-toggle="tab" href="#info">Information</a></li>
		    <li><a data-toggle="tab" href="#review">Reviews</a></li>
		    <li><a data-toggle="tab" href="#maps">Map</a></li>
		<li class="selectcat">Skip to	<%=	select_tag "categories", options_from_collection_for_select(@uniq_itemcategories, "itemcategory", "itemcategory"),:class => "city", :onChange =>"location = '#'+this.options[this.selectedIndex].value;" %></li>
		</ul>
		</div>
		
	
		
	
	</div>





		<!-- Order bucket starts here-->
	


 		<div>

		<div class="container">    

<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="menu">	
		<div class="row">
			<div class ="col-8 col-lg-8">
		    <% @uniq_itemcategories.each do |u| %>
		      				<div class="menucontainer">
								<%@menuitem1 = @restaurant.menuitems.find_all_by_itemcategory(u.itemcategory)%>
								<h3 class="menucategory" id ='<%= u.itemcategory%>'><%= u.itemcategory %></h3>
								<table class="table menu table-hover">
								
								<form action="show_submit" method="get" accept-charset="utf-8">
												<% @menuitem1.each do |i|%>
												<tr <% if @restaurant.delivers %> class="modalbtn<%=i.id%>" <% end %> ><td id="itemname<%=i.id%>"><%= i.itemname %></td><td id="itemunitprice<%=i.id%>"><%= "#{i.itemunitprice}"  %></td><% if admin_signed_in? %><td><%= link_to "Delete", "/menuitems/#{i.id}", :method => 'DELETE' %></td><td><%= link_to "Edit", "/menuitems/#{i.id}/edit"%></td><% end %></tr>										

											

					<script>
					
					$( document ).load(function() {
						$('#myDialog').hide();

							$('.order-bucket').hide();
						
					});
					
					var itemclass;
					var total = 0;

					$(".remove").live('click', function(event) {


						$(this).parent().parent().fadeOut('slow', function() {
					    // Animation complete.
						 subtotal = parseInt($('#subtotal').val());
									subtotal -=  parseInt($(this).closest('tr').find('.price').val());
										servicetax= subtotal * 0.125;
										deliverytip = 0;
										total = subtotal + servicetax;
										 $('#subtotal').val(subtotal);
										 $('#servicetax').val(servicetax);
										if (subtotal != 0)
										{
											deliverytip=25;
									}
										total += deliverytip;
										
										 $('#deliverytip').val(deliverytip);

										    $('#total').val(total);
											
										

						$(this).remove();
					//	$('.order-bucket').hide();



					  });

					});





						$( ".modalbtn<%=i.id%>" ).click(function() { 
							itemclass = $(this).attr("class").replace(/[^0-9]/g, '');
							$( "#MyDialog" ).dialog( "open" ); });

						$(function() {

						$('.order-bucket').hide();

						   $( "#d-form" ).validate({
							rules: {
							    // simple rule, converted to {required:true}
							    quantity:
							{
							 required: true,
							 digits: true,
							minlength: 1,
							maxlength: 2

							},
							adjustments:
						{
						 required: false,
						}

							  }
							});   



							$( "#MyDialog" ).dialog({
								autoOpen: false,
								height: 300,
								width: 350,
								modal: true,
								buttons: {

									"Save": function() {


										bValid =  $("#d-form").valid();
										                    if (bValid ){
											var itemname = $("#itemname"+itemclass).text();
											var qty = $("#quantity").val();
											var specialinstruction = $("#adjustments").val();
											
											var itemprice = parseInt($("#quantity").val()) * parseInt($("#itemunitprice"+itemclass).text());



		$('.myTable').append("<tr>" +
										              "<td><input class='itemname' type='text' name='item[][itemname]'  value='" + itemname + "' readonly /></td>" +
										              "<td><input type='text' name='item[][quantity]' class='qty' value='" + qty + "' readonly /></td>" +
										              "<td><input class='price' name='item[][itemprice]' type='text' value='" + itemprice + "' readonly /></td><td><input class='hidden-field' name='item[][specialinstruction]' type='text' value='" + specialinstruction + "' readonly /></td><td><a href='#' class='btn btn-danger remove'><span class=' glyphicon icon-remove''></span></a></td>" +
										            "</tr>").hide().show("slide",{direction: 'up'});

													$('.order-bucket').show("slide",{direction: 'up'});

										// $('#orderlist').text($("#itemname"+itemclass).text() + " " + $("#quantity").val() + " " + (parseInt($("#quantity").val() * $("#itemunitprice"+itemclass).text())) );
										var subtotal = 0;
									    $('.price').each(function(){

									        subtotal += parseInt($(this).val());
									    });
									servicetax= subtotal * 0.125;
									deliverytip = 25;
									total = subtotal + servicetax;
									total += deliverytip;
									 $('#subtotal').val(subtotal);
									 $('#servicetax').val(servicetax);
									 $('#deliverytip').val(deliverytip);
									
									    $('#total').val(total);
								
									

										$( this ).dialog( "close" );

									}

									},
									"Cancel": function() {
										$( this ).dialog( "close" );
									}
								},
								close: function() {
									$('#quantity').val("");
									$('#adjustments').val("");
								}
							});


						});


					</script>

					<% end %>
				</table>		
				</div>			
				<% end %>
				</div>

			<!--REviews start here-->
						<div class ="col-4 col-lg-4">
							<div class="order-bucket tab-pane hide">
							<form action="show_submit" method="get" accept-charset="utf-8" class="hidden">
								<p><input type="submit" value="Continue &rarr;" class="hidden"></p>
							</form>
							<%= form_for :order, :class => "inline-form", :url => "/orders" do |f| -%>

								<h2 class="orderbucket">Your order</h2>
								<table class="table myTable table-condensed">
								<tr><th class="itemname">Item</th><th>Quantity</th><th>Total Item price</th></tr>
								</tr>
								</table>
								<table class="table totaltable table-condensed">
									<tr><td class="totaldesc">Your Restaurant SubTotal <strong>(A) =</strong></td><td><input name="subtotal" id="subtotal" readonly/></td></tr>
									<tr><td>Service tax(12.5%) <strong>(B) = </strong></td><td><input name="servicetax" id="servicetax" readonly/></td></tr>
									<tr><td>Delivery Tip <strong>(C) =</strong></td><td><input name="deliverytip" id="deliverytip" readonly/></td></tr>
									<tr><td><strong>Your Total (A + B + C) =</strong></td><td><input name="total" id="total" value="" readonly/></td></tr>
									</table>
									<div class="alert alert-info">Confirm and place your order.</div>

				<% if !user_signed_in? %>
							<div class="field">
								<%= f.label :customername, "Your name" %>
								<%= f.text_field :customername %>
							</div>  

							<div class="field">
								<%= f.label :custoemrnumber, "Your number" %>
								<%= f.text_field :custoemrnumber %>
							</div>  

								<div class="field">
									<%= f.label :customeremail, "Your Email" %>
									<%= f.text_field :customeremail %>
								</div>


							<div class="field">
								<%= f.label :customeraddress, "Your Address" %>
								<%= f.text_area :customeraddress %>
							</div>
							<% end %>

							<%= hidden_field_tag :restaurant_id, @restaurant.id %>


							<div class="field">
							<%= f.submit "Place Order", :disable_with => 'Adding...', :class =>"btn btn-success" %>
							</div>
							<% end -%>
					<!--	
						<label for="customername">Your Full Name</label>
				        <input type="text" name="customername" id="customername" class="required" />
						<label for="customernumber">Your Phone Number</label>
				        <input type="text" name="customernumber" id="customernumber" class="required" />
						<label for="customeraddress">Your Address</label>
				        <textarea id="customeraddress" class="required" ></textarea>
						<p><input class="btn btn-success" type='submit' value='Place Order'></p>
				-->

					</div>	
<!--
					<div class="delivery-info">
<p>The estimated total cost per 2 people is</p>
					</div>
					-->			
					
				</div>
			</div>
			<!-- Order bucket ends here-->
		
			
</div>

<div class="tab-pane fade in" id="info">
	<div class="hotel-info">
		<h1>About us</h1>
		<p><% if !@restaurant.restabout.blank? %>
			
			<%= "#{@restaurant.restabout}" %>
			<% end %></p>
		<div class="left">
			<h4>Address</h4>
		<p class="badge"><%= @restaurant.raddress %></p><br/><br/><p class="badge"><span class="glyphicon icon-home"></span> <strong>Phone:</strong> <%= @restaurant.restphone %></p>
		<p class="badge"><span class="glyphicon icon-barcode"></span> <strong>Approx cost:</strong> <%= @restaurant.rcost %> Rs</p>
				<% if @restaurant.delivers %>	<p class="badge"><span class="glyphicon icon-info-sign"></span> <strong>Minimum Order:</strong> <%= @restaurant.restdelmin %> Rs</p> <% end %>
			<p class="badge"><span class="glyphicon icon-road"></span> <strong>Delivery time:</strong> <%= @restaurant.restdeltime %></p>
			<p class="badge"><span class="glyphicon icon-time"></span> <strong>Timings:</strong> <%= "#{@restaurant.rtimings}"  %> </p>
			</div>
		</div>
	</div>

    <div class="tab-pane fade in" id="review">
       		<div class="row">
				<div class ="col-12 col-lg-12">
			<div class="review-box">
			<h2 class="review-heading">
			<% if @restaurant.reviews.empty? %> 
				<%= "There are no reviews for this restaurant yet. Be the first one to write a review." %>
				<% else %> 
				<%= "Reviews for #{@restaurant.restname}" %> 
				<% end %>
				</h2>
			<% @review.each do |r| %>
						<div class="reviews">
							<h4><%= r.title %></h4>
							<p id="reviewscore"><%= r.score %>/5</p>
							<p id="review-meta">written by <%= r.author %> on <%= r.created_at %></p>
							<p><%= r.reviewtext %></p>
							</div>
							<% end %>
							</div>
								<div class="review-form form">
									<% if user_signed_in? %>
									<h2 class="review-heading">Write a review</h2>

									<%= form_for :reviews, :url=> "/reviews" do |ff| %>
										<div class="field">
												<%= ff.label :score, "Review score out of 5" %>
										<%= ff.select :score, [['1','1'],['2','2'],['3','3'],['4','4'],['5','5']]%>
										</div>
										<div class="field">
											<%= ff.label :title, "Title" %>
											<%= ff.text_field :title %>
										</div>  

											<div class="field">
												<%= ff.label :reviewtext, "Review" %>
												<%= ff.text_area :reviewtext %>
											</div>

											<%= hidden_field_tag :restaurant_id, @restaurant.id %>

												<div class="field">
												<%= ff.submit "Add Review", :disable_with => 'Adding...', :class =>"btn btn-success" %>
												</div>

									<% end %>

									<% else %>
									<%= link_to "Login or Signup to write a review", new_user_session_path, :class =>"btn btn-primary btn-large" %>
									<% end %>
									</div>

</div></div>

    </div>
    <div class="tab-pane fade in" id="maps">
     

				<div class ="row">
			<div class="col-12 col-lg-12">
			<!-- Empty-->
			<%
			query = @restaurant.restname+"+"+@restaurant.rarea+"+"+@restaurant.city

			%>
		<iframe width="1025" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src='https://maps.google.co.in/maps?q=<%= query %>&amp;hnear=<%=@restaurant.rarea %>+<%=@restaurant.city%>&amp;t=m&amp;z=16&amp;iwloc=A&amp;spn=0.006328,0.013486&amp;output=embed'></iframe>
				</div>
					</div>
					
					</div>



    </div>
</div>
<div>
</section>
