<!DOCTYPE html>
<html>
<head>
  <title>FoodZoo - Online food ordering platform</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application"  %>
		<link href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
		<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
	
	
  <%= csrf_meta_tags %>
</head>
<body id="homepage">
	<header>	
		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<ul class="nav">
					<li class="sitename"><%= link_to "Foodzoo",root_path %></li>
					<% if admin_signed_in? %>
				<li><%= link_to "Sign out", destroy_admin_session_path, :method => 'delete' %></li>
				<li><%= link_to "Add PuneURLs", "/punescrapurls/new" %></li>
				<li><%= link_to "Add MumbaiURLs", "/mumscrapurls/new" %></li>
				<li><%= link_to "Add BangaloreURLs", "/blorescrapurls/new" %></li>
					<% end %>
				<% if user_signed_in? %>
				<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "#{current_user.userfullname}", edit_user_registration_path %></li>
					
			<li></li>  
			<li style= "float:right"><%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %></li>
			<% else %>
			<li><%= link_to "Sign in /", new_user_session_path %><li> 
				<li><%= link_to " Sign up ", new_user_registration_path %><li>
				
		<% end %>
		</ul>
		
		
		

		</div>
		</div>
	
		</header>
			<% if flash[:notice] %>
			<div class='alert <% if flash[:notice] =~ /Success/i %> alert-success <% else %> alert-error<% end %>'>
			<p><%= flash[:notice] %></p>
			</div>
			<% end %>
		<section>
			<div id="slider" class="nivoSlider">
			            <div>
			                            <img src="/assets/slide4.jpg" alt="image06"/>
			                 </div><div>         

			                           <img src="/assets/slide2.jpg" alt="image01" />
			                            </div><div>

			<img src="/assets/slide3.jpg" alt="image02" />
			                           </div>     
										<div>

			<img src="/assets/slide1.jpg" alt="image02" />
			                          </div> 
			</div>
		
</section>	

<%= yield %>
<footer>
</footer>
</body>
</html>
<script language="javascript">
$("#slider > div:gt(0)").hide();

setInterval(function() { 
  $('#slider > div:first')
    .fadeOut(1000)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('#slider');
},  6000);

$("#spider > div:gt(0)").hide();

setInterval(function() { 
  $('#spider > div:first')
    .slideUp(500)
    .next()
    .slideDown(500)
    .end()
    .appendTo('#spider');
},  6000);
</script>






