<!DOCTYPE html>
<html>
<head>
  <title>FoodZoo - Online food ordering platform</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag "application"  %>
		<link href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
		<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
		 <%= stylesheet_link_tag  "http://fonts.googleapis.com/css?family=Arvo" %>
		<link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
	
	
  <%= csrf_meta_tags %>
</head>
<body>
	
	<header>
		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				
				<ul class="nav">
					<li class="sitename"><%= link_to "Foodzoo",root_path %></li>
						<% if admin_signed_in? %>
					<li><%= link_to "Sign out", destroy_admin_session_path, :method => 'delete' %></li>
					<li><%= link_to "Add PuneURLs", "/punescrapurls/new" %></li>
					<li><%= link_to "Add MumbaiURLs", "/mumscrapurls/new" %></li>
					<li><%= link_to "Add BangaloreURLs", "/blorescrapurls/new" %></li>
						<% end %>
				<% if user_signed_in? %>
				<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "#{current_user.userfullname}", edit_user_registration_path %></li>
					
			<li></li>  
		
			
			
			<li style= "float:right"><%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %></li>
			<% else %>
			<li><%= link_to "Home", root_path  %></li>
			<li>	<%= form_for :user,  :html => {:class => "form-inline navbar-form"} ,  :url => session_path(:user) do |f| %>
				
			  <%= f.email_field :email, :value => "Email", :onfocus => "if (this.value == 'Email') {this.value = '';}", :onblur=>"if (this.value == '') {this.value = 'Email';}" %>

			  <%= f.password_field :password, :value => "Password", :onfocus => "if (this.value == 'Password') {this.value = '';}", :onblur=>"if (this.value == '') {this.value = 'Password';}" %>

			  <%= f.submit "Sign in", :class =>"btn btn-success" %>
			<% end %><li>
		<% end %>
		
		</ul>
			<% if !user_signed_in? %>
		<%= link_to "Join now ", new_user_registration_path, :class=>"btn btn-large join-btn" %>
			<% end %>	
		</div>
		</div>
		</header>
			<% if flash[:notice] %>
			<div class='alert <% if flash[:notice] =~ /Success/i %> alert-success <% else %> alert-error<% end %>'>
			<p><%= flash[:notice] %></p>
			</div>
			<% end %>
	<%= yield %>
<footer>
	<p class="footer-rights">All rights reserved by Foodzoo.in</p>
</footer>
</body>
</html>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43671092-1', 'foodzoo.in');
  ga('send', 'pageview');

</script>


